.fade-up{

opacity:0;

transform:translateY(40px);

animation:fadeUp 1s forwards;

}


@keyframes fadeUp{


to{

opacity:1;

transform:translateY(0);

}


}
@keyframes zoomImage{


from{

transform:scale(1);

}


to{

transform:scale(1.12);

}


}


@keyframes fadeUp{


from{

opacity:0;

transform:translateY(50px);

}


to{

opacity:1;

transform:translateY(0);

}


}
/* ==========================
   SCROLL REVEAL
========================== */

.reveal{

    opacity:0;

    transform:translateY(60px);

    transition:1s ease;

}

.reveal.active{

    opacity:1;

    transform:translateY(0);

}