{% load static %}

<section class="featured-collection reveal">

    <div class="container">


        <div class="section-title">

            <span class="gold-text">
                EXCLUSIVE COLLECTION
            </span>

            <h2>
                Luxury Residences
            </h2>

            <p>
                Discover our handpicked collection of exceptional properties.
            </p>

        </div>



        <div class="featured-grid">


            <div class="featured-card large">

                <img src="{% static 'images/featured/villa.jpeg' %}">

                <div class="featured-overlay">

                    <h3>
                        Private Villas
                    </h3>

                    <p>
                        Elegant homes with breathtaking views.
                    </p>

                </div>

            </div>



            <div class="featured-card">

                <img src="{% static 'images/featured/apartment.jpeg' %}">

                <div class="featured-overlay">

                    <h3>
                        Luxury Apartments
                    </h3>

                </div>

            </div>




            <div class="featured-card">

                <img src="{% static 'images/featured/penthouse.jpeg' %}">

                <div class="featured-overlay">

                    <h3>
                        Modern Penthouses
                    </h3>

                </div>

            </div>




            <div class="featured-card">

                <img src="{% static 'images/featured/beach.jpeg' %}">

                <div class="featured-overlay">

                    <h3>
                        Beach Houses
                    </h3>

                </div>

            </div>


        </div>


    </div>

</section>