{% load static %}

<section class="why-choose reveal">

    <div class="container">

        <div class="why-wrapper">


            <div class="why-image">

                <img src="{% static 'images/why/luxury-house.jpg.png' %}" 
                alt="Luxury House">


                <div class="experience-box">

                    <h3>15+</h3>
                    <p>Years Experience</p>

                </div>


            </div>




            <div class="why-content">


                <span class="why-label">
                    WHY CHOOSE US
                </span>


                <h2>
                    Creating Luxury
                    <br>
                    Living Experiences
                </h2>


                <p class="why-description">

                    We provide exclusive properties with
                    exceptional service, trusted guidance
                    and premium real estate solutions.

                </p>



                <div class="why-grid">


                    <div class="why-card">

                        <div class="why-icon">
                            <i class="fa-solid fa-house"></i>
                        </div>

                        <h3>
                            Premium Homes
                        </h3>

                        <p>
                            Carefully selected luxury properties.
                        </p>

                    </div>



                    <div class="why-card">

                        <div class="why-icon">
                            <i class="fa-solid fa-shield-halved"></i>
                        </div>

                        <h3>
                            Secure Deals
                        </h3>

                        <p>
                            Transparent and trusted transactions.
                        </p>

                    </div>



                    <div class="why-card">

                        <div class="why-icon">
                            <i class="fa-solid fa-gem"></i>
                        </div>

                        <h3>
                            Luxury Service
                        </h3>

                        <p>
                            Premium real estate experience.
                        </p>

                    </div>



                    <div class="why-card">

                        <div class="why-icon">
                            <i class="fa-solid fa-users"></i>
                        </div>

                        <h3>
                            Expert Team
                        </h3>

                        <p>
                            Professional property specialists.
                        </p>

                    </div>


                </div>


            </div>


        </div>


    </div>


</section>