{% extends 'base.html' %}

{% block body_class %}
inner-page
{% endblock %}

{% block title %}
Contact | PrimeNest
{% endblock %}

{% block content %}


<section class="contact-hero">


    <div class="container">


        <div class="contact-title">

            <span>
                CONTACT PRIMENEST
            </span>

            <h1>
                Let's Find Your Perfect Property
            </h1>

            <p>
                Our team is ready to help you discover
                your next luxury home.
            </p>

        </div>


    </div>


</section>





<section class="contact-section">


<div class="container">


<div class="contact-grid">



    <!-- Contact Info -->


    <div class="contact-info">


        <h2>
            Get In Touch
        </h2>


        <p>
            Have questions about a property?
            Contact our team and we will assist you.
        </p>



        <div class="contact-item">

            <i class="fa-solid fa-phone"></i>

            <div>

                <h4>
                    Phone
                </h4>

                <p>
                    +971 50 123 4567
                </p>

            </div>

        </div>




        <div class="contact-item">

            <i class="fa-solid fa-envelope"></i>

            <div>

                <h4>
                    Email
                </h4>

                <p>
                    info@primenest.com
                </p>

            </div>

        </div>




        <div class="contact-item">

            <i class="fa-solid fa-location-dot"></i>

            <div>

                <h4>
                    Location
                </h4>

                <p>
                    Dubai, United Arab Emirates
                </p>

            </div>

        </div>



    </div>





    <!-- Form -->


    <div class="contact-form">


        <h2>
            Send Message
        </h2>


        <form>


            <input 
            type="text"
            placeholder="Your Name">



            <input 
            type="email"
            placeholder="Your Email">



            <input 
            type="text"
            placeholder="Subject">



            <textarea 
            placeholder="Your Message"></textarea>



            <button type="submit">

                Send Message

            </button>


        </form>


    </div>



</div>


</div>


</section>



{% endblock %}