/* ==========================
   CONTACT PAGE
========================== */


.contact-hero{

    min-height:520px;

    display:flex;

    align-items:center;

    background:

    linear-gradient(
        rgba(0,0,0,.6),
        rgba(0,0,0,.6)
    ),

    url("/static/images/contact/contact-bg.jpg")

    center/cover no-repeat;


    color:white;

}



.contact-title{

    max-width:750px;

}



.contact-title span{

    letter-spacing:4px;

    font-size:14px;

    color:#ddd;

}



.contact-title h1{

    font-size:55px;

    line-height:1.2;

    margin:25px 0;

}



.contact-title p{

    font-size:20px;

    color:#eee;

}





/* CONTACT SECTION */


.contact-section{

    padding:120px 0;

}



.contact-grid{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:70px;

    align-items:start;

}





.contact-info h2,
.contact-form h2{

    font-size:38px;

    margin-bottom:25px;

}



.contact-info p{

    color:#666;

    line-height:1.8;

}




.contact-item{

    display:flex;

    gap:20px;

    align-items:center;

    margin-top:35px;

}



.contact-item i{

    width:55px;

    height:55px;

    background:#111;

    color:white;

    border-radius:50%;


    display:flex;

    align-items:center;

    justify-content:center;

}



.contact-item h4{

    margin:0 0 5px;

}





/* FORM */


.contact-form{

    background:#f5f5f5;

    padding:45px;

    border-radius:30px;

}



.contact-form input,
.contact-form textarea{


    width:100%;

    border:none;

    outline:none;

    padding:16px 20px;

    margin-bottom:18px;

    border-radius:15px;

    font-size:15px;

}



.contact-form textarea{

    height:160px;

    resize:none;

}



.contact-form button{

    border:none;

    background:#111;

    color:white;

    padding:16px 35px;

    border-radius:50px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}



.contact-form button:hover{

    transform:translateY(-4px);

    background:#333;

}





@media(max-width:992px){


    .contact-grid{

        grid-template-columns:1fr;

    }


    .contact-title h1{

        font-size:42px;

    }


}



@media(max-width:576px){


    .contact-form{

        padding:25px;

    }


    .contact-title h1{

        font-size:32px;

    }


}