/* ==========================
   HERO
========================== */

.hero{
    height:100vh;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.hero-bg{
    position:absolute;
    inset:0;
    background:url("/static/images/hero/hero-home.png") center center/cover no-repeat;
    animation:zoomImage 18s infinite alternate;
}

.hero-overlay{

    position:absolute;

    inset:0;

    background:
    linear-gradient(
        90deg,
        rgba(0,0,0,.72),
        rgba(0,0,0,.35),
        rgba(0,0,0,.55)
    );

}

.hero-content{

    position:relative;

    z-index:2;

    text-align:center;

    color:white;

    max-width:900px;

    padding:0 20px;

}

.hero-small{
    letter-spacing:6px;
    font-size:14px;
    margin-bottom:20px;
}

.hero-content h1{

    font-size:84px;

    font-weight:800;

    line-height:1.05;

    margin-bottom:30px;

}

.hero-content h1 span{

    color:#C6A15B;

}

.hero-description{

    max-width:700px;

    margin:auto;

    font-size:21px;

    line-height:1.8;

    color:#F3F3F3;

}

.hero-buttons{
    margin-top:45px;
    display:flex;
    justify-content:center;
    gap:20px;
}
.primary-btn{

    transition:.35s;

}

.primary-btn:hover{

    transform:translateY(-4px);

    box-shadow:0 18px 40px rgba(198,161,91,.35);

}

.secondary-btn{

    backdrop-filter:blur(12px);

    background:rgba(255,255,255,.08);

}

.secondary-btn:hover{
    background:#fff;
    color:#111;
}

.scroll-down{

    opacity:0;

}

.scroll-down span{
    width:2px;
    height:55px;
    background:#fff;
    animation:scroll 1.6s infinite;
}